<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="form.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
</head>
<script>
    var app=angular.module('myapp',[]);
    app.controller("mycontroller",['$scope',function($scope){
        $scope.candidates=[];
        $scope.addUser=function(user){
            console.log('adding user');
            var cand=angular.copy(user);
            $scope.candidates.push(cand);
            console.log($scope.candidates);
            $scope.user={};
        }
        $scope.reset=function(){
            $scope.user={};
        }
    }]);

</script>
<body ng-controller="mycontroller">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Sign Up</h3>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="user.name" placeholder="Name">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" ng-model="user.email" placeholder="Email">
            </div>
            <button type="submit" class="btn btn-default" ng-click="addUser(user)">Submit</button>
            <button type="button" class="btn btn-default" ng-click="reset()">Reset</button>
        </form>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">List of users</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
            <tr ng-repeat="c in candidates">
                <td>{{c.name}}</td>
                <td>{{c.email}}</td>
            </tr>
        </table>
    </div>
</div>


</body>
</html>