<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="form.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
</head>
<script>
    var app=angular.module('myapp',[]);
    app.controller("mycontroller",['$scope',function($scope){
        $scope.candidates=[];
        $scope.user={};

        $scope.addUser=function(){
        //  console.log("User:",$scope.user);
            var cand=angular.copy($scope.user);
            $scope.candidates.push(cand);
            console.log($scope.candidates);
            $scope.user={};
        }
        $scope.reset=function(){
            $scope.user={};
        }
        $scope.alert=function(){
            alert('hi');
        }
    }]);
</script>
<body ng-controller="mycontroller" ng-init="message='hello world!!!!'">
{{x}}
<div id="form" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Sign Up</h3>
    </div>
    <div class="panel-body">
        <form name="form" novalidate>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="user.name" name="uname" placeholder="Name" required>
                <div ng-show="form.uname.$invalid && !form.uname.$pristine">
                    <div ng-message="required">This field is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" ng-model="user.email" placeholder="Email" name="email" required>
                <div ng-show="form.email.$invalid && !form.email.$pristine">
                    <div ng-message="required">This field is required</div>
                </div>
            </div>
        <!--    <div class="form-group">
                <label>I agree</label>
                <input type="checkbox" ng-model="check"><button ng-hide="check" ng-click="alert();">disable me</button>
            </div>-->
            <button type="submit" class="btn btn-default" ng-disabled="form.$invalid" ng-click="addUser()">Submit</button>
            <button type="button" class="btn btn-default" ng-click="reset()">Reset</button>
            <!-- <div ng-include="'InterviewPractice.html'"></div>-->
        </form>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">List of users</span>
        <input type="text" ng-model="search" placeholder="Search user">
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
            <tr ng-repeat="c in candidates |filter:search">
                <td>{{c.name}}</td>
                <td>{{c.email}}</td>
            </tr>
        </table>
    </div>
</div>


</body>
</html>